@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pontano Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background: linear-gradient(45deg, #4b4efa, #eb0aa0);
  background-attachment: fixed;
}

.container {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .cardfront {
  position: relative;
  width: 300px;
  height: 700px;
  background: rgb(255, 255, 255);
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px;
  transition: 0.5s;
}

.circle > img {
  width: 200px;
  height: 200px;
  padding-top: 10px;
}

.container .cardfront .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #1ca5db, #dd36b3);
  clip-path: circle(350px at center 0);
  text-align: center;
}

.container .cardfront .circle h4,
h1,
h2 {
  color: black;
  font-size: 20px;
  padding: 5px 0;
}

.container .cardfront .content {
  position: absolute;
  bottom: 10px;
  page-break-after: 5px;
  text-align: center;
}

.container .cardfront .content p {
  color: black;
}

.container:hover .cardfront {
  filter: blur(5px);
  transform: scale(0.9);
  opacity: 1;
}

.container .cardfront:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 2;
}

.icons {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100;
}
